@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    font-size: 62.5%;

    /* Color Variables */

    --primary: white;
    --accent: black;

    /* Sizing Variables */

    --text-small: 2.0rem;
    --text-default: 2.8rem;
    --text-big: 12.8rem;
}
    
html {
    overflow-x: hidden;
}
body {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    font-family: Roboto;
    background-color: var(--primary);
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#home > .home--background {
    z-index: -1;
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url('../images/icons/arrow.webp');
    background-repeat: no-repeat;
    background-position-x: 35vw;
    background-position-y: 65%;
    background-size: 12vw;
}

header {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 3px solid var(--accent);
}

.header--logo-link {
    text-decoration: none;
}

.header--logo {
    margin: 0;
    font-size: var(--text-default);
    font-weight: 700;
    color: var(--accent);
}

.nav--list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 7.4rem;
}

.nav--link {
    font-size: var(--text-default);
    font-weight: 700;
    text-decoration: none;
    color: var(--accent);
}

.dark-mode-toggle {
    padding: 0;
    width: 3.2rem;
    border: none;
    background-color: transparent;
}

.dark-mode-toggle:hover {
    cursor: pointer;
}

.dark-mode-toggle > img {
    width: 100%;
    height: auto;
}

.dark-mode-on {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(0deg) brightness(104%) contrast(100%);
}

.home--hero {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
}

.home--hero-text {
    margin-top: 8rem;
}

.home--hero-text > h3 {
    margin: 0;
    font-size: var(--text-default);
    color: var(--accent);
}

.home--hero-text > h1 {
    margin: 0;
    font-size: var(--text-big);
    font-weight: 900;
    color: var(--accent);
}

.about--content {
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.about--content-title {
    font-size: var(--text-big);
    font-weight: 900;
    margin: 0;
    margin-top: 8rem;
    color: var(--accent);
}

.about--content-text {
    font-size: var(--text-small);
    line-height: 1.6;
    max-width: 60ch;
    align-self: center;
    margin-top: 8rem;
    color: var(--accent);
    font-weight: 400;
    font-size: 2.2rem;  
}

.btn {
    align-self: center;
    width: max-content;
    font-size: var(--text-small);
    font-weight: bold;
    border: 3px solid var(--accent);
    border-right: 5px solid var(--accent);
    border-bottom: 5px solid var(--accent);
    background-color: var(--primary);
    color: var(--accent);
    padding: 10px 20px;
}

.contact-btn{
    margin-top: 4rem;
}

.home--hero-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--accent);
    margin-top: 8rem;  
}

.home--hero-img{
    width: auto;
    height: 35rem;
    border: 3px solid var(--primary);
}

.home--projects{
    margin-top: 12rem;
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.home--projects-container {
    display: flex;
    justify-content: space-between;
}

.home--projects-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--accent);
}

.home--project-img{
    width: auto;
    height: 35rem;
    border: 3px solid var(--primary);
}

.project-btn {
    margin-top: 6rem;
    text-decoration: none;
    color: var(--accent);
}

.home--contact {
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.home--contact-title {
    font-size: var(--text-big);
    color: var(--accent);
    font-weight: 900;
    width: 8ch;
    margin: 8rem 0;
}

.home--contact-form {
    align-self: center;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 100%;
    max-width: 66rem;
}

.home--contact-form > input:not([type="submit"]) {
    height: 3rem;
}

.home--contact-form > input:not([type="submit"]),textarea {
    border: 3px solid var(--accent);
    font-size: var(--text-small);
    font-weight: 500;
    font-family: Roboto;
    resize: none;
    background-color: var(--primary);
    color: var(--accent);
    padding: 0 1rem;
}

.home--contact-form > input::placeholder, textarea::placeholder {
    color: var(--accent);
}

footer {
    margin-top: 12rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    border-top: 3px solid var(--accent);
    font-size: 1.6rem;
    font-weight: 600;
}

.footer--link-container {
    width: 20rem;
    display: flex;
    justify-content: space-between;
}

.footer--link {
    text-decoration: none;
    margin: 0;
    color: var(--accent);
}

.copyright-notice {
    margin: 0;
    color: var(--accent);
}

.agency-note {
    color: var(--accent);
}

.agency-note > a {
    color: var(--accent);
}




.projects--content {
    padding: 0 12rem;
}

.projects--container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 42rem;
    grid-auto-flow: row;
    grid-gap: 2rem;
}

.project--img-container {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}

.project--img {
    border: 3px solid var(--accent);
    width: max-content;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.imprint-container{
        padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.imprint-container h2{
    font-size: var(--text-big);
    font-weight: 900;
    margin: 0;
    margin-top: 8rem;
    color: var(--accent);
}

.imprint-subtitle-small{
    font-size: calc(var(--text-default) * 1.2)
}

.imprint-subtitle-big{
    font-size: calc(var(--text-default) * 1.5)
}

.imprint-subtitle{
    line-height: 1.6;
    align-self: center;
    margin-top: 8rem;
    color: var(--accent);
    font-weight: 400;
    font-size: 2.2rem;
}



/* Hamburger Menu styles */

#hamburger-menu {
    width: 35px;
    height: 35px;
    display: none;
    align-items: center;
    border: none;
    background-color: transparent;
    padding: 0;
  }
  #hamburger-menu:hover {
    cursor: pointer;
  }   
  .hamburger-menu-line {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    background-color: var(--accent);
    border-radius: 5px;
    transition: width .5s, background-color .5s;
  }
  .hamburger-menu-line::before {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    background-color: var(--accent);
    top: -13px;
    border-radius: 5px;
    transition: transform .5s;
  }
  .hamburger-menu-line::after {
    display: block;
    position: absolute;
    content: "";
    width: 35px;
    height: 4px;
    background-color: var(--accent);
    top: 13px;
    border-radius: 5px;
    transition: transform .5s;
  }
  .hamburger-menu-line.hamburger-open {
    width: 0;
    background-color: transparent;
  }
  .hamburger-menu-line.hamburger-open::before {
    transform:translate(0px, 13px) rotate(45deg);
  }
  .hamburger-menu-line.hamburger-open::after {
    transform:translate(0px, -13px) rotate(-45deg);
  }




@media (max-width: 1150px) {
    header {
        padding: 0 8rem;
    }
    nav {
        position: absolute;
        width: 100vw;
        right: -105vw;
        top: 10.2rem;
        background-color: var(--primary);
        padding: 2rem 0;
        transition: right .55s ease-in-out;
    }
    nav.nav-open {
        right: 0;
    }
    .nav--list {
        flex-direction: column;
        gap: 0;
        align-items: center;
        text-align: center;
    }
    .nav--item {
        padding: 2rem 0;
        width: 100%;
        border-bottom: 3px solid var(--accent);
    }
    #hamburger-menu {
        display: flex;
    }
}

@media (max-width: 390px) {
    header {
        padding: 0 2rem;
    }
    .home--hero{
        display: flex;
        flex-direction: column;
        padding: 0px 4rem;
    }
    .home--hero-text h3{
        width: 65rem;
        font-size: var(--text-small);
    }
    .home--hero-text h1{
      font-size: 10rem;
    }
    .home--hero-img-container{
        display: flex;
        justify-content: center;
        margin-top: 4rem;
    }
    .home--hero-img{
        height: 17rem;
    }
    .home--projects {
        margin-top: 3rem;
        padding: 0 4rem;
        display: flex;
        flex-direction: column;
    }
    .home--projects-img-container{
        margin-top: 3rem;
    }
    .home--project-img{
        height: 15rem;
    }
    .home--contact {
        padding: 0 3rem;
        display: flex;
        flex-direction: column;
}
    .home--contact-title{
        font-size: 7.6rem;
        margin: 4rem 0;
}
    .nav--list{
        display: unset;
}

}