@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    font-size: 62.5%;

    /* Color Variables */

    --primary: white;
    --accent: black;

    /* Sizing Variables */

    --text-small: 2.0rem;
    --text-default: 2.8rem;
    --text-big: 12.8rem;
}
    
body {
    margin: 0;
    font-family: Roboto;
    background-color: var(--primary);
}

#home {
    background-image: url('../images/icons/arrow.webp');
    background-repeat: no-repeat;
    background-position-x: 35vw;
    background-position-y: 50vh;
    background-size: 12vw;
}

header {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10rem;
    border-bottom: 3px solid var(--accent);
}

.header--logo-link {
    text-decoration: none;
}

.header--logo {
    margin: 0;
    font-size: var(--text-default);
    font-weight: 700;
    color: var(--accent);
}

.nav--list {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 7.4rem;
}

.nav--link {
    font-size: var(--text-default);
    font-weight: 700;
    text-decoration: none;
    color: var(--accent);
}

.dark-mode-toggle {
    padding: 0;
    width: 3.2rem;
    border: none;
    background-color: transparent;
}

.dark-mode-toggle:hover {
    cursor: pointer;
}

.dark-mode-toggle > img {
    width: 100%;
    height: auto;
}

.dark-mode-on {
    filter: invert(100%) sepia(0%) saturate(18%) hue-rotate(0deg) brightness(104%) contrast(100%);
}

.home--hero {
    padding: 0 12rem;
    display: flex;
    justify-content: space-between;
}

.home--hero-text {
    margin-top: 8rem;
}

.home--hero-text > h3 {
    margin: 0;
    font-size: var(--text-default);
    color: var(--accent);
}

.home--hero-text > h1 {
    margin: 0;
    font-size: var(--text-big);
    font-weight: 900;
    color: var(--accent);
}

.about--content {
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.about--content-title {
    font-size: var(--text-big);
    font-weight: 900;
    margin: 0;
    margin-top: 8rem;
    color: var(--accent);
}

.about--content-text {
    font-size: var(--text-small);
    line-height: 1.6;
    max-width: 75ch;
    align-self: center;
    margin-top: 4rem;
    color: var(--accent);
}

.btn {
    align-self: center;
    width: max-content;
    font-size: var(--text-small);
    font-weight: bold;
    border: 3px solid var(--accent);
    border-right: 5px solid var(--accent);
    border-bottom: 5px solid var(--accent);
    background-color: var(--primary);
    padding: 10px 20px;
}

.contact-btn{
    margin-top: 4rem;
}

.home--hero-img-container{
  border: 3px solid var(--accent);
  margin-top: 8rem;  
}

.home--hero-img{
    width: auto;
    height: 35rem;
    border: 3px solid var(--primary);
}

.home--projects{
    margin-top: 12rem;
    padding: 0 12rem;
    display: flex;
    flex-direction: column;
}

.home--projects-container {
    display: flex;
    justify-content: space-between;
}

.home--projects-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid var(--accent);
}

.home--project-img{
    width: auto;
    height: 35rem;
    border: 3px solid var(--primary);
}

.project-btn {
    margin-top: 6rem;
    text-decoration: none;
    color: var(--accent);
}

